h1{
    color: black;
margin-left: 30px;
    margin-bottom: 50px;
}
.w {
    display: inline-block;
    margin: 30px;
    border-radius: 5%;
}
h2{
    color: gray;
    margin: 30px;
    margin-bottom: 0px;
}
.q{padding-bottom: 0px;

    color: #ffffff;
}
.o{
    color: black;
}
body{font-size: small;
    font-family: Montserrat;

}
